<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.usb.host" android:required="true" />
    <uses-feature android:name="android.hardware.camera.external" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application android:name=".CheckApplication" android:theme="@style/AppTheme" android:label="AR Glass Check">
        <activity android:name=".ImuCheckActivity" android:exported="false" />
        <activity android:name=".DisplayModeCheckActivity" android:exported="false" />
        <activity android:name=".ResolutionCheckActivity" android:exported="false" />
        <activity android:name=".CameraCheckActivity" android:exported="false" />
        <activity android:name=".XrealEyeCameraCheckActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" android:resource="@xml/device_filter" />
        </activity>
    </application>
</manifest>
